# init.djl.rc

on boot
    #intelliplug
    chmod 0222 /sys/kernel/intelli_plug/perf_boost
    chown system system /sys/kernel/intelli_plug/perf_boost
    chmod 0666 /sys/module/intelli_plug/parameters/nr_run_profile_sel
    chown system system /sys/module/intelli_plug/parameters/nr_run_profile_sel
	write /sys/module/intelli_plug/parameters/intelli_plug_active 1
	write /sys/module/intelli_plug/parameters/screen_off_max 1497600

# sysinit (/system/etc/init.d)
service sysinit /system/bin/sysinit
    user root
    oneshot
    disabled

# init.d (/system/etc/init.d)
service userinit /system/xbin/busybox run-parts /system/etc/init.d
    oneshot
    class late_start
    user root
    group root

